.tooltip {
    position: relative;
    float: right
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #3f51b5;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: small;
    padding: 5px;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    right: 20px;
    top: 5px
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }

  .icon{
    color: #5e6ec7;
  }

  .icon:hover{
      color: rgb(67, 91, 143)
  }

  .iconMinus{
    color: rgb(255, 136, 136)
  }

  .iconMinus:hover{
    color: rgb(255, 51, 51)
  }

  .tooltipMinus {
    position: relative;
    float: right
  }
  
  .tooltipMinus .tooltipMinustext {
    visibility: hidden;
    width: 120px;
    background-color: #d42d52;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    font-size: small;
    padding: 5px;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    right: 20px;
    top: 5px
  }
  
  .tooltipMinus:hover .tooltipMinustext {
    visibility: visible;
  }